name: CI/CD pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      - name: Build and Push Image
        run: |
          # docker build -t hoangvu42/todo-auth-service ./auth-service
          # docker build -t hoangvu42/todo-user-service ./profile-service
          # docker build -t hoangvu42/todo-task-service ./task-service
          # docker build -t hoangvu42/todo-todo-fe ./todo-fe
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_TOKEN }}           
          chmod +x script/build_and_push.sh
          ./script/build_and_push.sh

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Remove Existing Containers
        run: docker stack rm my_todo_app
      - name: Image scan
        run: |       
          chmod +x script/pull_and_scan_images.sh
          ./script/pull_and_scan_images.sh
      - name: Deploy with Docker Swarm
        run: docker stack deploy -c swarm.yml my_todo_app